.menu-header {
    background-color: #FFFFFF;
}

.menu-logo {
    color: #2E2F42;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.accent {
    color: #4D5AE5;
}

.menu-link {
    text-decoration: none;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}