body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
}

.menu-header {
    background-color: #FFFFFF;
}

.banner {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
    color: #404BBF;
}

.menu-logo,
.logo-footer {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.menu-logo {
    color: #2E2F42;
}

.accent {
    color: #4D5AE5;
}

.menu-link {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:active,
.menu-link:focus {
    color: #404BBF;
}

.menu-info-link {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.section-banner {
    background-color: #2E2F42;
}


.menu-info-link:hover,
.menu-info-link:active,
.menu-info-link:focus {
    color: #404BBF;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

ul {
    list-style-type: none;
}

.section-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.logo-footer {
    color: #F4F4FD;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.section-our-team {
    background-color: #F4F4FD;
}